# Node dependencies
node_modules/
client/node_modules/
server/node_modules/

# Production build
client/dist/
dist/

# Environment variables (données sensibles)
.env
*.env
server/.env
client/.env

# Logs & OS
*.log
.DS_Store
Thumbs.db
.vscode/
.idea/
